---
/**
 * index.astro
 * Main page combining all 3D components
 */
import Layout from "../layouts/Layout.astro";
import ThreeScene from "../components/ThreeScene.astro";
import Navigation from "../components/Navigation.astro";
import Hero3D from "../components/Hero3D.astro";
import ProjectCards3D from "../components/ProjectCards3D.astro";
import SkillsOrbit from "../components/SkillsOrbit.astro";
import Contact3D from "../components/Contact3D.astro";
---

<Layout>
	<!-- 3D Background Scene -->
	<ThreeScene />

	<!-- Navigation -->
	<Navigation />

	<!-- Main Content -->
	<main>
		<Hero3D />
		<ProjectCards3D />
		<SkillsOrbit />
		<Contact3D />
	</main>
</Layout>
